.SubContents {
    box-sizing: border-box;
    display: inline-block;
    margin-top: 16px;
    margin-left: 16px;
    height: 340px;
    width: 31.6%;
    border: 3px solid #000000;
    background-color: #ffd966;
}